body {
    margin: 0;
    padding: 0;
    background-color: #222831;
    position: relative;
}
header{
    background-color: #31363F;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.container{
    width: 128px;
    margin: auto;
}
.navbar{
    width: 95%;
    margin: 0 auto;
    margin-right: 0px;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a{
    color: #EEEEEE;
    text-decoration: none;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.branding{
    font-size: 1.5rem;
    font-family: "Monoton", serif;
    font-weight: 400;
    font-style: normal;
}
.menu a {
    font-size: 1.2rem;
    font-family: "Rajdhani", serif;
    font-weight: 600;
    font-style: normal;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    list-style: none;
}

.tiles {
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.based {
    max-width: 650px;
    background-color: #76ABAE;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.30);
    border-radius: 20px;
    width:95%;

    display: relative;
    align-items: center;
    text-align: center;
}
.title {
    font-size: 220px;
    font-family: "Modak", serif;
    font-weight: 200;
    font-style: normal;
    color: #EEEEEE;
    line-height: 60%;
    margin-top: 8%;
    margin-bottom: 0px;
}
.subtitle {
    font-family: helvetica, system-ui;
    font-weight: lighter;
    letter-spacing: 0.15rem;
    padding-bottom: 15px;
    color: #EEEEEE;
}
.basia {
    padding: 0px;
    margin: 0px;
    max-width: 90%;
    border-radius: 10px;  /* Zaokrąglenie rogów */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);  /* Cień */
}
h2 {
    padding-top: 20px;
    padding-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Oswald;
    margin-left: auto;
    margin-right: auto;
    color: #EEEEEE;
    text-decoration: none;
}
.proj {
    text-decoration: none;
}
.main {
    display: grid;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 310px 310px 310px;
    grid-template-rows: 410px;
    margin-top: 80px;
    padding: 0;
}
.project {
    width: 300px;
    height: 400px;
    margin-bottom: 1vw;
    background-color:#454f57;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.30);
    border-radius: 10px;
}


@media(max-width: 1280px){
    .container{
        width: 100%;
    }
}
@media(min-width: 1280px){
    .container{
        width: 80%;
    }
}
@media(max-width: 945px){
    .main {
        display: block;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
        padding: 0;
    }
    .project {
        margin-left: auto;
        margin-right: auto;
        max-width: 95vw;
        width: 95vw;
        height: 140px;
    }
    h2 {

        font-family: Oswald;
        font-size: 20px;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .menu{
        gap: 15%;
        margin-right: 30%;
    }
    .menu a{
        font-size: 3.5vw;
    }
    .subtitle {
        font-size: 20px;
    }
}
@media(max-width: 650px){
    .title {
        font-size: 33vw;
    }
}
@media(max-width: 435px){
    .menu{
        gap: 20%;
        margin-right: 25%;
    }
}
@media(max-width: 400px){
    .menu{
        gap: 10%;
        margin-right: 30%;
    }
    .menu a{
        font-size: 3.5vw;
    }
    .subtitle {
        font-size: 20px;
    }
}
@media(max-width: 300px){
    .menu{
        gap: 5%;
        margin-right: 20px;

    }
    .menu a{
        font-size: 4.5vw;
    }
    .subtitle {
        font-size: 13px;
    }
}
#maxwell-gif{
    position: absolute;
    top: 15vh;
    width: 90%;
    max-width: 800px;
}
